<div class="row" ng-controller="AuthCtrl">
    <div class="col-lg-4 col-lg-offset-4">
        <tabset justified="true">
            <tab heading="Sign in">
                <div ng-include="'views/auth_login_form.html'"></div>
            </tab>
            <tab heading="Sign up">
                <div ng-include="'views/auth_reg_form.html'"></div>
            </tab>
        </tabset>
        <br>

        <div ng-switch="error" class="text-center text-danger">
            <p ng-switch-when="wrong_credentials">Wrong credentials</p>

            <p ng-switch-when="user_not_found">User with this email not registered</p>

            <p ng-switch-when="user_already_registered">User with this email already registered</p>
        </div>

    </div>
</div>
