<div ng-controller="AppPluginCtrl">
    <p>Content for adding to <code>build.gradle</code></p>
<pre class="text-left">
    repositories {
        mavenCentral()
    }

    dependencies {
        classpath "com.github.nrudenko:anarcho-gradle:0.2.2"
    }
</pre>
<pre class="text-left">
    apply plugin: "anarcho"

    anarcho {
        host = "{{ host }}"
        buildTypes {
            defaultConfig {
                appKey = "{{ appKey }}"
                apiToken = "{{ apiToken }}"
                releaseNotes = "BuildType: {build_type} Branch: {git_branch} Commit: {git_commit}"
            }
    }
</pre>
</div>