@font-face {
    font-family: logo_font;
    font-style: normal;
    src: url('logo_font.ttf'); /*if IE */
    src: local("Grandesign Regular"), url("logo_font.ttf") format("truetype"); /* non-IE */
}

.logo {
    text-align: center;
    font-size: 60pt;
    font-family: logo_font;
}