@font-face {
    font-family: 'carnivalee_freakshowregular';
    src: url('fonts/logo_font.eot');
    src: url('fonts/logo_font.eot?#iefix') format('embedded-opentype'),
    url('fonts/logo_font.woff2') format('woff2'),
    url('fonts/logo_font.woff') format('woff'),
    url('fonts/logo_font.ttf') format('truetype'),
    url('fonts/logo_font.svg#carnivalee_freakshowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.logo {
    text-align: center;
    font-size: 60pt;
    font-family: carnivalee_freakshowregular;
}