<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Anarcho</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        @font-face {
            font-family: logo_font;
            font-style: normal;
            src: url("static/logo_font.ttf");
        }

        .logo {
            font-family: logo_font;
            font-size: 48px;
        }
    </style>
</head>
<body class="text-center">
<div style="text-align: center">
    <a href="http://anarcho.herokuapp.com">
        <img src="static/logo.png"></a>

    <p href="http://anarcho.herokuapp.com" class="logo">ANARCHO</p>

</div>
</body>
</html>